body {
    font-family: Arial, sans-serif;
    background-color: #7FFFD4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Alinha os itens um abaixo do outro */
    justify-content: center;
    align-items: center;
}

legend{
    text-align: center;
}

#titulo {
    text-align: start;
    color: #333;
    margin-bottom: 20px; /* Espaço entre o título e o formulário */
}

form {
    background-color: #00FFFF;
    padding: 20px;
    border: 1px solid #66CDAA;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
select,
textarea {
    background-color: #E0FFFF;
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: rgb(30, 1, 104);
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

button[type="submit"] {
    background-color: #6495ED;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #4169E1;
}